# OS X Finder
.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml

/.idea/
/build/
/generated-objc/
/generated-objc-temp/
/.gradle/
*.class

/local.properties
/prefixes.properties
/app/local.properties

/app/.idea/

# Linux libraries
/app/src/main/obj
*.o
*.o.d
